# Database (PostgreSQL via Supabase)
DATABASE_URL="postgresql://postgres:2TBBZcwboRCqbRpl@db.ggefzgphflbrhhleasdm.supabase.co:5432/postgres"

# NextAuth.js
AUTH_SECRET="secret_line_oa_admin"
NEXTAUTH_URL="http://localhost:3000"

# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN="your-line-channel-access-token"
LINE_CHANNEL_SECRET="your-line-channel-secret"

# Redis (for BullMQ Queue)
REDIS_URL="redis://localhost:6379"

#fwgzxIzSBKthCr2k  
# Redis (for BullMQ)  
REDIS_URL="redis://localhost:6379" 
